/*
* 通用选择器，用于设置页面上所有元素的z-index属性，确保它们在堆叠上下文中处于最底层
*/
* {
    z-index: 0; /* 设置z-index为0，确保元素在堆叠上下文中处于最底层 */
}

.Home {
    /* 主页容器的样式 */
    margin: 15px 200px; /* 设置容器的外边距，上下15px，左右200px */
    width: 100%; /* 容器的宽度为100% */
    height: 100vh; /* 容器的高度为视口高度的100% */
    background-color: rgba(224, 224, 224, 0.14); /* 设置背景颜色为半透明的灰色 */
    z-index: -1; /* 设置z-index为-1，确保容器在堆叠上下文中处于底层 */
    /* overflow: hidden; */ /* 隐藏溢出的内容，此行代码被注释掉，不生效 */
}

.classtable {
    /* 课表容器的样式 */
    width: 170vh; /* 容器的宽度为视口高度的170% */
    margin: 15px; /* 设置容器的外边距，上下左右均为15px */
    padding: 15px 10px; /* 设置容器内边距，上下15px，左右10px */
    border-radius: 10px; /* 设置容器边框的圆角半径为10px */
    background-color: rgb(255, 255, 255); /* 设置背景颜色为白色 */
    /* height: 100%; */ /* 容器的高度为100%，此行代码被注释掉，不生效 */
    box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.04); /* 添加容器阴影效果 */
}

.picker {
    /* 日期选择器的样式 */
    display: flex; /* 设置为Flex布局 */
    margin: 30px 15px; /* 设置外边距，上下30px，左右15px */
}

.tableinfo {
    /* 课表信息容器的样式 */
    /* border: rgba(91, 134, 229, 0.6) 2px solid; */ /* 设置边框颜色和宽度，此行代码被注释掉，不生效 */
    margin: 20px; /* 设置容器的外边距，上下左右均为20px */
    width: 70%; /* 容器的宽度为70% */
    box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.01); /* 添加容器阴影效果，但阴影非常轻微 */
}
